# Flask-Babel Configuration

# Supported languages
LANGUAGES = {
    'en': 'English',
    'ru': 'Русский'
}

# Default language
BABEL_DEFAULT_LOCALE = 'en'
BABEL_DEFAULT_TIMEZONE = 'UTC'

# Translation files directory
BABEL_TRANSLATION_DIRECTORIES = 'translations'
